{% load static %}
<!DOCTYPE html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>Sign Up</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Full Name" required>
            <input type="text" placeholder="Username" required>
            <input type="email" placeholder="Email Address" required>
            <input type="password" placeholder="Password" required>
            <input type="password" placeholder="Confirm Password" required>
            <button>Signup</button>
        </form>
        <p>
           Already User? <a href="{% url 'login' %}">Login here!</a>
        </p>
    </div>
</body>
</html>